<ion-header class="ion-no-border">
  <ion-toolbar class="modal-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="close-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="about-container">
    
    <!-- App Logo & Info -->
    <div class="app-header">
      <div class="app-logo">
        <div class="shield-icon">
          <img src="assets/images/excalibur.png" alt="Ícone-logo ilustrado de um cavalheiro em cima de um cavalo segurando uma espada e um escudo" class="logo-image">
        </div>
      </div>
    </div>

    <!-- Descrição do Projeto -->
    <div class="section">
      <div class="section-header">
        <h2 class="section-title">A importância da segurança da informação </h2>
      </div>
      <p class="section-text">
        Em tempos sombrios, onde golpes, vazamentos e ataques cibernéticos crescem a cada dia, proteger suas informações não é mais uma opção — é uma necessidade.
      </p>
      <p class="section-text">
        A primeira defesa é a consciência. Saber reconhecer sinais de golpe, verificar a origem de links, e desconfiar de mensagens suspeitas pode evitar grandes prejuízos. 
        Use senhas fortes, diferentes para cada serviço, e ative sempre que possível a autenticação em dois fatores (2FA).
      </p>
       <p class="section-text">
        Mantenha seus dispositivos atualizados, pois muitas invasões acontecem explorando falhas já corrigidas. 
        Evite também usar redes Wi-Fi públicas para acessar aplicativos sensíveis, como bancos e e-mails. 
        Em ambientes assim, prefira usar a sua rede móvel ou uma VPN confiável.
       </p>

    </div>