<ion-content [fullscreen]="true" class="splash-content">
  <div class="splash-container" [class.show]="showContent">
    
    <div class="logo-container">
        <img src="assets/icon/favicon.png" alt="Ícone-logo ilustrado de um cavalheiro em cima de um cavalo segurando uma espada e um escudo" class="logo-image">
    </div>

    <h1 class="app-name">Soteria</h1>

    <div class="slogan-container">
      <p class="slogan-text">
        Pela honra e proteção <br> de <b> vossos </b> dados!
      </p>
    </div>

    <div class="loading-container">
      <div class="loading-dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>

  </div>
</ion-content>